<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.e_garden">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Egarden">
        <activity android:name=".Photo_History"></activity>
        <activity android:name=".Water_History" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.e_garden.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".viewModels.DetailsViewModel"
            android:launchMode="singleTask"
            android:parentActivityName=".viewModels.listView.ListViewModel" />
        <activity
            android:name=".viewModels.EditPlant"
            android:launchMode="singleTask"
            android:parentActivityName=".viewModels.DetailsViewModel" />
        <activity
            android:name=".viewModels.HomeViewModel"
            android:launchMode="singleTask" />
        <activity
            android:name=".viewModels.AddPlantViewModel"
            android:launchMode="singleTask"
            android:parentActivityName=".viewModels.HomeViewModel" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewModels.listView.ListViewModel"
            android:launchMode="singleTask"
            android:parentActivityName=".viewModels.HomeViewModel" />
    </application>

</manifest>